* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #BBBBBB;
}


h1 {
    display: inline-block;
}

.logo {
    margin-left: 150px;
    margin-top: 30px;
}

nav ul {
    margin-left: 800px;
    display: inline-block;
    position: relative;
    bottom: 140px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: 2px underline;
}

.produtos ul {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 450px;
}

.produtos li:hover {
    /* muda quando passar por cima */
    border-color: #C78C19;
}

.produtos li:active {
    /* muda quando é ativado pelo usuário */
    color: #088C19;
}

.produtos li:hover h2 {
    /* aqui é para mudar o h2 quando passar por cima*/
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 16px;
    margin: 10px 0 0;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(imagens/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
